/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;;
}

/* DEBUG */

*{
  font-size: 18px;
}

/* GENERICS */

.small-txt{
  font-size: 12px;
}


/* HEADER */

.header{
  height: 100px;
  padding-left: 20px;
  line-height: 100px;
}

.header>img {
  vertical-align: middle;
}

h1 {
  font-size: 2.7rem;
  display: inline-block;
  vertical-align: middle;
}


/* MAIN */

main {
  padding-top: 50px;
  background-color: #f6f8f9;
  color: #42464f;
}

.container {
  width: 70%;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
}


/* MANAGMENT TASKS */

.nav-bar-tasks {
  padding: 20px 50px 10px;
  border-bottom: 2px solid #f6f8f9;
}

.nav-btn {
  display: inline-block;
  padding: .5rem;
  margin: .2rem;
  color: #e3e6e8;
  border: 1px solid #e3e6e8;
  border-radius: 8px;
}

.nav-btn:hover {
  color: white;
  background-color: #47adf1;
  border-color: #47adf1;
}


/* LISTE TASKS */

.lists-tasks {
  padding: 50px;
}

h2 {
  margin-bottom: .7rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.list>li {
  margin-bottom: 1.5rem;
}

.mark {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 1px solid black;
  border-radius: 50%;
  line-height: 1.2rem;
  text-align: center;
  vertical-align: middle;
}

.checked {
  color: #6dc4b0;
  border-color: #6dc4b0;
}

.crossed {
  color: red;
  border-color: red;
}